<h1>mustache</h1>
{{#translate}}global.hello{{/translate}}
{{#translate}}hello{{/translate}}

<h3>model injection</h3>
{{#items}}
  {{#first}}
    <li><strong>{{name}}</strong></li>
  {{/first}}
  {{#link}}
    <li><a href="{{url}}">{{name}}</a></li>
  {{/link}}
{{/items}}