<h1>mustache</h1>
<p>{{global_hello}}</p>
<p>{{hello}}</p>

<h3>model injection</h3>
{{#items}}
  {{#first}}
    <li><strong>{{name}}</strong></li>
  {{/first}}
  {{#link}}
    <li><a href="{{url}}">{{name}}</a></li>
  {{/link}}
{{/items}}
