%h1 haml
%p= t( 'global.hello' )
%p= t( 'hello' )

%h3 model injection
- items.each do |item|
	%li
		- if item[:first]
			%b= item[:name]
		- else
			%a{ :title => item[:name], :href => item[:url] }
				= item[:name]